.content {
    display: flex;
    justify-content: space-between;
    max-width: 1040px;
    margin: auto;
    height: 100%;
}

.side-1 {
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5em; */
    font-size: 1.4em;
    flex-grow: 5;
}

.side-2 {
    min-width: 25ch;
}

.side {
    flex-grow: 3;
}

.main-content {
    margin-bottom: 1em;
}

.cocktail-name {
    color:white;
    font-size: 2rem;
    text-align: center;
    background-color:rgb(255, 48, 48);
    padding-top:1em;
    padding-bottom: 1em;
    margin-bottom: 2em;
}

.cocktail-name-inline {
    color:rgb(255, 48, 48);
}

.cocktail-desc {
    font-style: italic;
    max-width: 45ch;
    font-size: 1.3rem;
}

.ingredients {
    background:rgb(213, 213, 213);
    padding: 0.4em;
    max-width: 100%;
    color:rgb(0, 0, 0);
    border-inline-start: 3px solid;
    border-block-start: 3px solid;
    border-image-source:
    radial-gradient(
        circle at top left,
        rgb(255, 48, 48),
        transparent 50%);
    border-image-slice:1;
    
}

ul li {
    list-style: none;
}

.front-view {
    max-height: 20em;
    margin: auto;
}

.slider-container {
    position: relative;
    max-width: 15rem;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 10/16;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    border-radius: 0.5rem;
}

.slider::-webkit-scrollbar {
    display: none;
  }

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left:50%;
    transform : translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}