body {
    background: rgb(42,27,7);
    background: linear-gradient(180deg, rgba(42,27,7,1) 0%, rgba(15,15,15,1) 56%);
    color:white;

}

.boxes .container {
    display: flex;
    justify-content: space-between;
}

.box {
    flex:1;
    color:rgb(255, 255, 255);
    margin:50px 5px;
    transition: ease 0.3s;
    position: relative;
}

.illusbox {

    width: 100%;
    overflow: hidden;
}

.illusbox img {
    filter: grayscale(90%) blur(2px);
    transition: ease 0.4s;
}

.illusbox img:hover {
    filter:grayscale(5%);
    transform: scale(1.1);
}

.caption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(29, 106, 154, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;
  
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
  }

.box h3 {
    font-weight: 300;
    font-size: 1.2em;
}

.container h1 {
    position: sticky;
    font-size: 2em;
    font-weight: 700;
    animation: pulsate 2.5s infinite alternate;     
    animation-delay: 2s;
    padding-bottom: 0.5em;
    border-bottom: 1px solid white;
}

img {
    max-width: 100%;
    max-height: 100%;
}

@keyframes pulsate {
    100% {
      /* Larger blur radius */
      text-shadow:
      0 0 2px #fff,
      0 0 10px rgb(201, 121, 0);
    }
    0% {
      /* Smaller blur radius */
      text-shadow:
      0 0 7px #fff,
      0 0 25px rgb(201, 121, 0);
    }
  }

  
.box a {
    text-decoration: none;
}

.box h2 {
    display: flex;
    justify-content: flex-start;
    font-size: 1.9em;
    color: white;
    font-weight:800;
    font-family: 'Space Grotesk', sans-serif;
}


@media(max-width: 768px) {
    
    .box h2 {
        margin-bottom: 1em;
    }
    .box {
        display:flex;
        flex-direction: column;
        align-items: center;
        /* margin: 2em 0; */
        margin: 1.5em 10%;
        border-bottom: solid white 0.1px;
    }

    .boxes .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .illusbox img {
        filter: none;
    }
    
    .illusbox img:hover {
        transform: none;
    }
    
}